<h2>List of Students</h2>
<br/>
<div class= "student"
<ul>
  <% @students.each do |student| %>
  <li>
    <a href="/students/<%= student.id %>">
      <%= student.format_name %>
    </a>
  </li>
  <% end %>
</ul>
</div>
